*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
canvas {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    width: 100%; height: 100%;

    overflow: hidden;
    user-select: none;
}
